

:root {
    --Movie-padding-top: 2rem;
    --Movie-font-family: 'Noto Sans', sans-serif;
    --Movie-background-color: rgb(255, 255, 255);

    --Title-Category-margin-bottom: 1rem;

    --Img-Wrapper-height: 10rem;
    --Img-Wrapper-width: 17rem;
    --Img-Wrapper-margin-bottom: 2rem;
    --Img-Wrapper-transition: 1s;

    --Title-Card-color: white;
    --Title-Card-padding-top: 0.5rem;
    --Title-Card-padding-left: 0.5rem;

    --Data-Card-color: white;
    --Data-Card-padding-top: 0.5rem;
    --Data-Card-padding-left: 0.5rem;
    --Data-Card-font-size: 0.5rem;


}


/*------ESTRUCTURA BOADY-------*/



.movies {
    padding-top: var(--Movie-padding-top);
    font-family: var(--Movie-font-family);
    background-color: var(--Movie-background-color);
}

.title-category {
    margin-bottom: var(--Title-Category-margin-bottom);
    
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.img-wrapper{
    position: relative;
    height: var(--Img-Wrapper-height);
    width: var(--Img-Wrapper-width);
    margin-bottom: var(--Img-Wrapper-margin-bottom);
    transition: var(--Img-Wrapper-transition);
    cursor: pointer;
    
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .img-wrapper:hover {
    margin: 0 2.5rem;
    transform: scale(1.2);
    
    
} */

.img-hover{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgba(250, 71, 71, 0.8);
    bottom: 0;
    display: none;    
}

.img-wrapper:hover .img-hover {
    display: block;
}


.title-card{
    color: var(--Title-Card-color);
    padding-top: var(--Title-Card-padding-top);
    padding-left: var(--Title-Card-padding-left);
}

.data-cards{
    color: var(--Data-Card-color);
    padding-top: var(--Data-Card-padding-top);
    padding-left: var(--Data-Card-padding-left);
    font-size: var(--Data-Card-font-size);
}

@media screen and ( max-width: 768px ){
    .movies {
        overflow: hidden;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        grid-column-gap: 10px;
    }

    .title-category{
        text-align: center;
    }

    .wrapper {
        justify-content: center; 
    }

}

@media screen and ( max-width: 480px ){
    :root {
        --Img-Wrapper-height: 8rem;
        --Img-Wrapper-width: 15rem;

        --Title-Card-padding-top: 0.3rem;
        --Title-Card-padding-left: 0.5rem;
    
        --Data-Card-color: white;
        --Data-Card-padding-top: 0.3rem;
        --Data-Card-padding-left: 0.5rem;
        --Data-Card-font-size: 0.6rem;

        --Title-Category-margin-left: 2rem;
        --Wrapper-margin-left: 2rem;
    }
    .movies {
        overflow: hidden;
    }

    .title-category{
        margin-right: var(--Title-Category-margin-left);
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto;
        margin-right: var(--Wrapper-margin-left);
       
    }

    

}