

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 100%)
}

.wrapper-slider {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);

    align-content: center;


    height: 12rem;
    position: relative;
    
}

.arrow-left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: inherit;
    width: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

}

.arrow-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: inherit;
    width: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red; 
}

.left {
    font-size: 3rem;
}

.right{
    font-size: 3rem;
}

.arrow-link{
    text-decoration: none;
}


.wrapper-slider.one {
    background-color: green;
}

.wrapper-slider.two {
    background-color: pink;
}

.wrapper-slider.three {
    background-color: blue;
}

.title-category {
    margin: 1rem 0;
}

.wrapper-img{
    height: 10rem;
    width: 17rem;
}

.wrapper-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

